* { /* to remove the top and left whitespace */
  margin: 0px;
  padding: 0px; 
}

html, body { /* just to be sure these are full screen*/
  width:100%; 
  height:100%;
  background: #000;
  font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arvo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas { /* To remove the scrollbars */
  display:block;
  /*vertical-align:center; */
}

#preloaderContainer {
  width: 100%;
  height: 100%
}

#preloaderSpinner {
  width: 100%;
  height: 120px;
  background: #000;
}

#preloaderStatus {
  width: 100%;
  text-align: center;
  color: white;
}

.parameterButton {
  width: 150px;
}

.parameterSlider {
  width: 150px;
}

.toggleButton {
  width: 150px;
}

.modal-header {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.modal-dialog {
  width: 760px;
}

.settingsConfigValue {
  width: 160px;
}

.settingsValue {
  width: 170px;
}

.settingsDefaultValue {
  color: #757474;
}

.lead {
  margin-bottom: 5px;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
}

.modal-body {
  padding-top: 5px;
}

.helpContainer {
  padding-top: 15px;
}

.subTabBar {
  font-size: 12px;
}

.nav-tabs {
  border: 0px !important;
}

/*.subTab {
  border: 0px !important;
}*/

.nav-tabs > li > a {
  border: 0px !important;
}

/* center all tabs... */
/*.subTabBar > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display: inline;
  *zoom:1;

}
.subTabBar {
  text-align:center; 
}*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #EEEEEE;
}

.statHistoryConfig {
  font-size: 11px;
}

.buttonStatBar {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: #EEEEEE;
  padding: 7px;
}


/* style input file buttons to something similar as bootstrap... */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}